<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-removebg-preview.png">
    <style>
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Poppins;
}
.navbar{
    width:100%;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
 }
.navbar a{
    display: inline-block;
    justify-content: space-between;
    margin-top: 0.7cm;
    padding: 5px 9px 9px 12px;
    margin-left: 40px;
}
 @media screen and (max-width: 576px){
    .navbar a {
        float: none;
        display: block;
    }
    #ime{
      position: static;
      margin-top: 350px;
 }
}
#namie{
    font-family: Playball;
}
#No1{
    color:  rgb(32, 32, 59);  text-decoration: none;  font-weight: bold; 
    font-size: 15px; 
}
#No1:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No2{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px; 
    background-color: rgba(255, 183, 1, 0.376); 
}
#No2:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No3{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No3:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No4{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No4:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No5{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No5:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
.house{
    display: flex;  width: 1366px;  background-color: white;
    margin-right: -6px;  margin-top: 10px;  position: fixed;
margin-left: -10px;
}
/* #No5{
    text-decoration: none;  font-weight: bold; font-size: 13px; 
    background-color: rgba(255, 183, 1, 0.376);  text-decoration: none;
    width: 160px;  margin-top: 2px;  display: flex;
} */
#lin{
    color: rgb(32, 32, 59);   text-decoration: none;
    margin-top: -13px;  margin-bottom: 9px;
}
.left{
    display: flex;
}
#img0{
    width: 0.9cm; height: 1.0cm;
          margin-left: 1.2cm;  margin-top: 0.7cm;
}
#menu{
    height: 20px;  width: 30px;  margin-top: 15px;
    margin-left: 5px;  margin-bottom: -2px;
}
#namie{
    font-family: Playball;  word-spacing: 5px;  margin-top: 0.8cm; 
    color: rgb(32, 32, 59);   font-weight: bolder;
}
#ime{
    background-image: url(/images/restaurant222.jpg);
      margin-right: 2px;  width: 1171px;
      height: 370px;  margin-left: -10px;  margin-top: -20px;
}

#oi{
 color: rgb(135, 135, 135);  opacity: 14%; margin-top: 330px;
 margin-left: 330px;  font-weight: lighter;  font-family: Poppins;  font-size: 120px;
}
#ot{
    display: flex;
}
#wy{
 color: rgba(250, 180, 5, 0.783);  margin-top: 410px;  margin-left: -350px;
 font-family: Poppins;  font-size: 20px;  word-spacing: 5px;
}
#bs{
    color: rgba(70, 70, 70, 0.783);  margin-top: 435px;  margin-left: -205px;
    font-family: Poppins;  font-size: 10px;  word-spacing: 5px; 
}
#abo{
    margin-left: 70px;  display: flex;
}
#yrs{
 color: rgb(32, 32, 59);  margin-top: 140px;
 margin-left: 30px;  width: 300px;
}
#mk{
    margin-top: -10px;  color: rgb(32, 32, 59);  margin-left: 30px;
font-size: 10px;  font-weight: 20px;  width: 268px; 
 word-spacing: 5px;  height: 200px;
}
#ab-i{
    height: 290px;  width: 350px;
    margin-top: 130px;  margin-left: -15px;
}
#custom-bullet{
    display: inline-block;  vertical-align: middle;
    margin-right: 5px;
}
#eio{
    color: rgb(32, 32, 59);  margin-top: 138px;
    width: 320px;  margin-left: 20px;
}
#lit{
        margin-top: -10px;  color: rgb(32, 32, 59);  margin-left: -13px;
    font-size: 12px;  font-weight: bold;
    width: 268px;  word-spacing: 5px;
    height: 200px;  font-family: Poppins;
}
#map{
    text-decoration: underline; color: rgb(32, 32, 59);
    text-decoration-color: rgba(250, 180, 5, 0.783);;
    margin-left: 30px;
}
#locat{
    margin-top: -5px; margin-bottom: -2px;
    margin-left: 70px;
}
#locam{
    color: rgb(32, 32, 59);   font-size: 15px;
    font-weight: bold;  margin-left: 50px;
}
    </style>
</head>
<body>
    <section id="house" class="house"  >
        <div class="left" id="left">
          <img src="/images/logo-removebg-preview.png" alt="" id="img0">
          <h2 id="namie">Tomi's Kitchen</h2>
        </div>
      
        <div class="navbar">
            <a href="/" id="No1">Home</a>
            <a href="/about" id="No2">About</a>
            <a href="/contact" id="No3">Contacts</a>
            <a href="/menu" id="No4">Our Menus</a>
            <a href="/book" id="No5">Book A Table</a>
        </div>
          </section>
          <div id="ime">
            <div id="ot">
            <h4 id="oi">About us</h4>
            <h5 id="wy">WHY CHOOSE US?</h5>
            <h6 id="bs">Best foods for you and your family.</h6>
        </div>
    </div>

    <section id="abo">
<div>
  <h3 id="yrs">10 Years Of Experience In Restaurant Services</h3>
  <h5 id="mk">Tomi's Kitchen is a restaurant that was established in the month of March,2014.
  <br><br>We started as a small cafe serving pasteries, cakes, and snacks. <br>The restaurant then expanded its menu to include Nigerian and continental dishes.
  <br><br>Tomi's Kitchen aim at meeting her customers' needs and ensuring maximum satisfaction for her customers </h5>
</div>

<div id="mj">
<img src="/images/about-img.jpg" alt="" id="ab-i">
</div>

<div id="coj">
<h3 id="eio">We care about the health and well-being of our customers</h3>
<ul id="lit">
  <span id="custom-bullet">*</span>Fresh ingredients and Products<br>
  <span id="custom-bullet">*</span>Professionals & Skilled Chefs<br>
  <span id="custom-bullet">*</span>Best Offers and Low Cost Services<br>
  <span id="custom-bullet">*</span>Vegan Cuisines<br>
  <span id="custom-bullet">*</span>Online Booking System
</ul>
</div>
    </section> <br>

    <div id="locat">
        <p id="locam">We are located inside Federal College Of Animal Health And Production Technology Ibadan Oyo State, Nigeria. <a href="map" id="map">Our Location</a> </p> 
        </div>
</body>
</html>