<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-removebg-preview.png">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <img src="/images/logo-removebg-preview.png" alt="" id="img0"><h2 id="namie">Tomi's Kitchen</h2>
     </div>
     <div class="menu-bar">
     
     <a href="/admin/dashboard"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a><br><br><br>
     <a href="/admin/profile"><i class="fa fa-fw fa-user"></i>My Profile</a><br><br><br>
     <a href="/admin/manage_bookings" id="books"><i class="fa fa-fw fa-table"></i>Manage Bookings</a><br><br><br>
     <a href="/admin/manage_tables" id="books"><i class="fa fa-fw fa-table"></i>Manage Tables</a><br><br><br>
     <a href="/admin/new_booking"><i class="fa fa-fw fa-calendar"></i>Submit New Booking</a><br><br><br>
     <a href="/admin/change_password"><i class="fa fa-fw fa-lock"></i>Change Password</a><br><br><br>
     <a href="/admin/logout" id="logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a><br><br><br>
</div>

<div class="main-content">
    <div class="main">
    <div class="dashs">
        <!-- Pending Bookings -->
<div class="book-status" id="bs1">
            <img src="/images/total_icon.png" alt="" class="book-status-images">
            <p class="estimate">Pending Bookings</p>
            <p style="font-size: 20pt; margin-left: 18px; color: #fff;"><%=pending.length%></p>
        </div>
        <!-- Approved Bookings -->
<div class="book-status" id="bs2">
    <img src="/images/accepted.png" alt="" class="book-status-images">
    <p class="estimate">Approved Bookings</p>
    <p style="font-size: 20pt; margin-left: 18px; color: #fff;"><%=approved.length%></p>
</div>
    <!-- Canceled Bookings -->
<div class="book-status" id="bs3">
    <img src="/images/cancelled_icon.png" alt="" class="book-status-images">
    <p class="estimate">Canceled Bookings</p>
    <p style="font-size: 20pt; margin-left: 18px; color: #fff;"><%=canceled.length%></p>
</div>
   <!-- Total Bookings -->
<div class="book-status" id="bs4">
    <img src="/images/total_icon.png" alt="" class="book-status-images">
    <p class="estimate">Total Bookings</p>
    <p style="font-size: 20pt; margin-left: 18px; color: #fff;"><%=bookings.length%></p>
</div>

</div>
</div>
</div>

<script>
    document.querySelector("#logout").addEventListener('click', (e)=>{
        if(confirm('Do you want to logout?') == true){
      fetch('/logout', {
        method: 'get'}
        )
    }else{
        e.preventDefault()

    }})
</script>
</body>
</html>