<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-removebg-preview.png">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .formPassword{
            margin: auto;
            width: 350px;
            height: fit-content;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 50px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            background-color: #fff;
        }
        .formPassword input{
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            border: none;
            border-radius: 5px;
            outline: none;
            font-size: 16px;
            background-color: #ccc;
        }
        .formPassword button{
            padding: 10px 20px;
            background-color: rgb(211, 151, 0);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="/images/logo-removebg-preview.png" alt="" id="img0"><h2 id="namie">Tomi's Kitchen</h2>
     </div>
     <div class="menu-bar">
       <p style="margin-top: 17px;"><img src="<%=image%>" alt="" id="img11"><h3 id="testi">Adebayo Testimony</h3></p><br><br>
     
     <a href="/admin/dashboard"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a><br><br><br>
     <a href="/admin/profile"><i class="fa fa-fw fa-user"></i>My Profile</a><br><br><br>
     <a href="/admin/manage_bookings" id="books"><i class="fa fa-fw fa-table"></i>Manage Bookings</a><br><br><br>
     <a href="/admin/manage_tables" id="books"><i class="fa fa-fw fa-table"></i>Manage Tables</a><br><br><br>
     <a href="/admin/new_booking"><i class="fa fa-fw fa-calendar"></i>Submit New Booking</a><br><br><br>
     <a href="/admin/change_password"><i class="fa fa-fw fa-lock"></i>Change Password</a><br><br><br>
     <a href="/logout" id="logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a><br><br><br>
</div>

<div class="main-content">
    <div class="main">
        <div class="formPassword">
      <h3>Change Password</h3><br>
      <form action="/admin/change_password" method="post">
            <label>Username:</label><br>
            <input type="text" name="username" value="<%=username%>" disabled required/><br><br>

            <label>Old Password:</label><br>
            <input type="password" name="oldpassword" required /><br><br>

            <label>New Password:</label><br>
            <input type="password" name="newpassword" required /><br><br>

            <label>Confirm New Password:</label><br>
            <input type="password" name="confirmpassword" required /><br><br>
                <button type="submit">Submit</button>
      </form>
   </div>
</div>
</div>

<script>
    document.querySelector("#logout").addEventListener('click', (e)=>{
        if(confirm('Do you want to logout?') == true){
      fetch('/logout', {
        method: 'get'}
        )
    }else{
        e.preventDefault()

    }})
</script>
</body>
</html>