<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us...</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-removebg-preview.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        html{
    scroll-behavior: smooth;
}
body{
    font-family: Poppins;
    background-image: url(/images/background\ pro.PNG);
    background-size: cover;
}

ul li{
    list-style-type: none;
}
.navbar ul{
    display: flex;   gap: 40px;
    margin-left: 30%;   margin-top: 0.7cm;
}
#No1{
    color:  rgb(32, 32, 59);  text-decoration: none;  font-weight: bold; 
    font-size: 15px;  
}
#No1:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No2{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No2:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No3{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px; background-color: rgba(255, 183, 1, 0.376)
}
#No3:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No4{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No4:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#house{
    display: flex;  width: 1366px;  background-color: white;
    margin-right: -6px;  margin-top: -10px;  position: fixed;
}
#No5{
    text-decoration: none;  font-weight: bold; font-size: 13px; 
    background-color: rgba(255, 183, 1, 0.376);  text-decoration: none;
    width: 160px;  margin-top: 2px;  display: flex;
}
#lin{
    color: rgb(32, 32, 59);   text-decoration: none;
    margin-top: -13px;  margin-bottom: 9px;
}
#left{
    display: flex;
}
#img0{
    width: 0.9cm; height: 1.0cm;
          margin-left: 1.2cm;  margin-top: 0.7cm;
}
#namie{
    font-family: Playball;  word-spacing: 5px;  margin-top: 0.8cm; 
    color: rgb(32, 32, 59);   font-weight: bolder;
}
#menu{
    height: 20px;  width: 30px;  margin-top: 15px;
    margin-left: 5px;  margin-bottom: -2px;
}

#cont{
    margin-top: 50px; font-size: 40px;
color: rgb(107, 107, 107);  opacity: 30%; 
margin-left: 450px;  font-weight: bold;  font-family: Poppins;  
}
#tent{
    display: flex;
    gap: 40px;
}
#img1{
    margin-top: -70px;
    margin-left: 170px;
}
#nom{
    /* background-color: white; */
    width: 400px;
    margin-left: 60px;
    margin-top: -40px;
}
#wit{
    padding-left: 30px;
}
#ink{
    margin-top: 40px;
}
#phone{
    display: flex;
    gap: 25px;
}
#line{
    margin-top: 50px;
    gap: 100px;
    padding-left: 30px;
    margin-bottom: 20px;
}

    </style>
</head>
<body>
  <section id="house" class="house"  >
    <div class="left" id="left">
      <img src="/images/logo-removebg-preview.png" alt="" id="img0">
      <h2 id="namie">Tomi's Kitchen</h2>
    </div>
  
    <div class="navbar">
      <ul>
        <li><a href="home" id="No1">Home</a></li>
        <li><a href="about" id="No2">About</a></li>
        <li><a href="contact" id="No3">Contacts</a></li>
        <li><a href="menu" id="No4">Our Menus</a></li>
        <li><button id="No5" > <a href="book" id="lin"><img src="/images/menu-removebg-preview.png" alt="" id="menu"> Book A Table</a></button></li>
         </ul>
      </ul>
    </div>
      </section>
<br>
<p id="cont">Contact Us</p>
    
<div id="tent">
<img src="/images/contact_image renewed.png" alt="" id="img1">
<div id="nom">
  <div class="icons">
    <h2 id="wit">For more Enquiries... <br> Contact us:</h2>
    <div id="phone">
    <i class="fa-solid fa-phone" id="ink"></i>
    <h4>+234-8109753391 <br>+234-8136552863 <br>+234-8131621222</h4>
</div>
<div class="lin" id="line">
    <a href="https://www.facebook.com/profile.php?id=100073702803134"><i class="fa-brands fa-facebook">Tomi's Kitchen</i></a> <br>
<a href="https://wa.link/nyndls"><i class="fa-brands fa-whatsapp">Tomi's Kitchen</i></a> <br>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fbrentstores%3Flang%3Den&psig=AOvVaw3zh_BYAhlAkTCqWIRKlazK&ust=1727265207819000&source=images&cd=vfe&opi=89978449&ved=0CAYQrpoMahcKEwiYrejdrdyIAxUAAAAAHQAAAAAQBA"><i class="fa-brands fa-x-twitter">Tomi's Kitchen</i></a> <br>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.instagram.com%2Fbrentsupermarkets%2F%3Fhl%3Den&psig=AOvVaw3zh_BYAhlAkTCqWIRKlazK&ust=1727265207819000&source=images&cd=vfe&opi=89978449&ved=0CAYQrpoMahcKEwiYrejdrdyIAxUAAAAAHQAAAAAQBg"><i class="fa-brands fa-instagram">Tomi's Kitchen</i></a>
</div>
</div>
</div>
</body>
</html>