<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomi's Kitchen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-removebg-preview.png">
   <style>
    html{
    scroll-behavior: smooth;
}
body{
    font-family: Poppins;
}

ul li{
    list-style-type: none;
}
.navbar ul{
    display: flex;   gap: 40px;
    margin-left: 30%;   margin-top: 0.7cm;
}
.navbar ul{
    display: flex;  gap: 50px;
    margin-left: 40%;  margin-top: 0.7cm;
}
#namie{
    font-family: Playball;
}
#No1{
    color:  rgb(32, 32, 59);  text-decoration: none;  font-weight: bold; 
    font-size: 15px; background-color: rgba(255, 183, 1, 0.376); 
}
#No1:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No2{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No2:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No3{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No3:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
#No4{
    color: rgb(32, 32, 59);  text-decoration: none; 
    font-weight: bold;  font-size: 15px;
}
#No4:hover{
    background-color: rgba(255, 183, 1, 0.376); 
}
.house{
    display: flex;  width: 1366px;  background-color: white;
    margin-right: -6px;  margin-top: -10px;  position: fixed;
}
#No5{
    text-decoration: none;  font-weight: bold; font-size: 13px; 
    background-color: rgba(255, 183, 1, 0.376);  text-decoration: none;
    width: 160px;  margin-top: 2px;  display: flex;
}
#lin{
    color: rgb(32, 32, 59);   text-decoration: none;
    margin-top: -13px;  margin-bottom: 9px;
}
.left{
    display: flex;
}
#img0{
    width: 0.9cm; height: 1.0cm;
          margin-left: 1.2cm;  margin-top: 0.7cm;
}
#namie{
    font-family: Playball;  word-spacing: 5px;  margin-top: 0.8cm; 
    color: rgb(32, 32, 59);   font-weight: bolder;
}
 #img1{
    width: 350px;  height: 300px;  margin-top: 90px;
 }
 #hi{
    background-color: whitesmoke;  width: 100px;  font-size: 13px;
    font-weight: bold;  color: rgb(32, 32, 59);  margin-top: 70px;
 }
 #we{
    color: rgb(32, 32, 59);  font-size: 60px;
    font-weight: bolder;  margin-top: -18px;
 }
 #kop{
    width: 500px;  margin-top: 70px;  margin-left: 50px;
 }
#inside{
    display: flex;  gap: 30px;
}
#enj{
    color: rgb(32, 32, 59);  font-size: 15px;
    font-weight: light;  margin-top: -145px;  
}
#body1{
    background-image: url(/images/background\ pro.PNG); 
    height: 550px;  width: 1160px;
}
#body2{
    background-image: url(/images/background\ pro.PNG); 
    height: 500px;  width: 1160px;  display: flex;
}
#img2{
 height: 400px;  width: 350px;
 margin-top: 70px;  margin-left: 70px;
}
#te{
 color: rgb(32, 32, 59);  font-size: 27px;  font-weight: 150px;
 margin-top: 100px;  margin-left: 70px;
}

#re{                     
    display: flex;
}
#one{
    color: rgb(211, 151, 0);  margin-top: 160px;   margin-left: -500px;
    font-weight: 200px;  font-size: 35px;
}
#ar{
    color: rgb(32, 32, 59);   margin-top: 172px;   margin-left: 15px;
    font-weight: 1000px;   font-size: 19px;
}
#it{
    color: rgb(32, 32, 59);  margin-top: 205px;  margin-left: -315px;
    font-weight: 500px;  font-size: 10px;
}

#re2{
    display: flex;
}
#two{
    color: rgb(211, 151, 0);  margin-top: 250px;  margin-left: -503px;
    font-weight: 200px;  font-size: 35px;
}
#fa{
    color: rgb(32, 32, 59);  margin-top: 260px;  margin-left: 14px;
    font-weight: 1000px;  font-size: 20px;
}
#tr{
    color: rgb(32, 32, 59);  margin-top: 295px;  margin-left: -270px;
    font-weight: 500px;  font-size: 10px;  width: 570px;
}

#re3{
    display: flex;
}
#three{
    color: rgb(211, 151, 0);  margin-top: 360px;  margin-left: -628px;
    font-weight: 200px;  font-size: 35px;
}
#fo{
    color: rgb(32, 32, 59);  margin-top: 370px;  margin-left: 15px;
    font-weight: 1000px;  font-size: 20px;
}
#ts{
    color: rgb(32, 32, 59);  margin-top: 405px;  margin-left: -180px;
    font-weight: 500px;  font-size: 10px;  width: 550px;
}
#menu{
    height: 20px;  width: 30px;  margin-top: 15px;
    margin-left: 5px;  margin-bottom: -2px;
}
   </style>
    
</head>
<body>
  <section id="body1">
    <section id="house" class="house"  >
        <div class="left" id="left">
          <img src="/images/logo-removebg-preview.png" alt="" id="img0"/>
          <h2 id="namie">Tomi's Kitchen</h2>
        </div>
      
        <div class="navbar">
          <ul>
            <li><a href="home" id="No1">Home</a></li>
            <li><a href="about" id="No2">About</a></li>
            <li><a href="contact" id="No3">Contacts</a></li>
            <li><a href="menu" id="No4">Our Menus</a></li>
            <li><button id="No5" > <a href="book" id="lin">
                <img src="/images/menu-removebg-preview.png" alt="" id="menu"> Book A Table</a></button></li>
             </ul>
          </ul>
        </div>
          </section>

          <section id="inside">
            <div id="kop">
<h3 id="hi">Hi, new friend!</h3>
<h6 id="we">We do not cook, we create your emotions!</h6>
<h6 id="enj">Enjoy our delicious cuisines</h6>
<button id="No5" > <a href="book" id="lin">
  <img src="/images/menu-removebg-preview.png" alt="" id="menu"> Book A Table</a></button>
            </div>

            <div id="img1">
<img src="/images/food_project-removebg-preview.png" alt="">
</div>
          </section>
        </section>

        <section id="body2">
<div>
<img src="/images/back11.PNG" alt="" id="img2">
</div>
<h2 id="te">We are doing more than you expect</h2>

<div id="re">
<h1 id="one">01</h1>
<h2 id="ar">We are located in the city center</h2>
<h3 id="it"> This makes it much more easier for you to locate us, thereby reducing stress.</h3>
</div>

<div id="re2"></div>
  <h1 id="two">02</h1>
   <h2 id="fa">Fresh, organic ingredients</h2> 
   <h3 id="tr">  We are so much concerned about your health and that has led us to the usage of fresh and organic ingredients for all our recipes, so as to boost your health and immune system.</h3> 
  
  </div>

  <div id="re3"></div>
  <h1 id="three">03</h1>
   <h2 id="fo">Own Fast Delivery</h2> 
   <h3 id="ts"> We deliver your order much more fast to you than you think and that is the rate to which we cherish our customers.</h3> 
  
  </div>
        </section>
</body>
</html>