<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Booking</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-removebg-preview.png">
    <style>
html{
    scroll-behavior: smooth;
}
body{
    font-family: Poppins;
}
#allcon{
    display: flex;
}
.form{
    height: 850px;  color:  rgb(32, 32, 59); width: 1161px;
    background-image: url(/images/background\ pro.PNG);
    background-size: cover;  margin-bottom: -8px;
    display: flex;
}
#img1{
    margin-top: 90px;  height: 380px;  width: 390px;
    margin-left: 60px;  margin-bottom: 360px;
}
#content{
    margin-left: 7%;
}
#bof{
    color:  rgb(32, 32, 59);  margin-left: 15px;
    text-decoration: underline;  word-spacing: 5px;
    font-weight: bolder;  margin-bottom: 0px;
    font-size: 20px;
}
#Firstname{
    width: 350px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 5px;
}
#Firstname:hover{
    border-color: rgb(255, 183, 1);
}
#Fname{
    font-size: 18px;  font-weight: bold;
}
#Lastname{
    width: 350px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 5px;
}
#Lastname:hover{
    border-color: rgb(255, 183, 1);
}
#Lname{
    font-size: 18px;  font-weight: bold;
}
#Ln{
    margin-top: 10px;
}
#Number{
    width: 350px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 5px;
}
#Number:hover{
    border-color: rgb(255, 183, 1);
}
#PhNo{
    font-size: 18px;  font-weight: bold;
}
#PN{
    margin-top: -12px;
}
#Email{
    width: 350px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 5px;
}
#Email:hover{
    border-color: rgb(255, 183, 1);
}
#mail{
    font-size: 18px;  font-weight: bold;
}
#mil{
    margin-top: -12px;
}
#BookTy{
    font-size: 18px;  font-weight: bold;
}
#bkty{
    width: 359px;  height: 30px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 8px;
}
#bkty:hover{
    border-color: rgb(255, 183, 1);
}
#typo{
    margin-top: -15px;
}
#tegr{
    font-size: 18px;  font-weight: bold;
}
#pac{
    width: 359px;  height: 30px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 8px;
}
#pac:hover{
    border-color: rgb(255, 183, 1);
}
#cate{
    margin-top: -13px;
}
#no{
    width: 350px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 5px;
}
#no:hover{
    border-color: rgb(255, 183, 1);
}
#numbr{
    font-size: 18px;  font-weight: bold;
}
#numb{
    margin-top: -13px;
}
#dt{
    width: 355px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 5px;
}
#dt:hover{
    border-color: rgb(255, 183, 1);
}
#date{
    font-size: 18px;  font-weight: bold;
}
#dat{
    margin-top: 10px;
}
#tm{
    width: 355px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 7px;
}
#tm:hover{
    border-color: rgb(255, 183, 1);
}
#time{
    font-size: 18px;  font-weight: bold;
    margin-top: 15px;
}
#tim{
    margin-top: 12px;
}
#ut{
    width: 355px;  height: 28px;
    font-size: 17px;  font-weight: 500;
    border-radius: 5px;  margin-top: 7px;
}
#ut:hover{
    border-color: rgb(255, 183, 1);
}
#utl{
    font-size: 18px;  font-weight: bold;
    margin-top: 15px;
}
#uti{
    margin-top: 12px;
}
#Submit{
    width: 160px;  background-color: white;
    height: 30px;  font-weight: 600;
    font-size: 20px;  margin-left: 80px;
    margin-top: 20px;  border-radius: 5px;
}
#Submit:hover{
    background-color: rgba(255, 183, 1, 0.62);
}
    </style>
</head>
<body>

    <div class="form">
        <div id="pngbk">
            <img src="/images/booking image11.png" alt="" id="img1">
        </div>

        <div id="content">
        <form id="bookingForm" action = "/new_booking" method="post">
      <p id="bof">Booking Form</p> 
      <label for="Fname" id="Fname">First Name</label><br>
      <input type ="text" name="fname" placeholder="Firstname" id="Firstname" required><br>
      
      <div id="Ln"><label for="Lname" id="Lname">Last Name</label><br>
      <input type="text" name="lname" placeholder="Lastname" id="Lastname" required> </div><br>
      
      <div id="PN"><label for="Phone Number" id="PhNo">Phone Number</label><br>
      <input type ="tel" name="phone" placeholder="080********" id="Number" required> </div><br>
      
      <div id="mil"><label for="email" id="mail">Email</label><br>
      <input type="text" name="email" placeholder="example@gmail.com" id="Email" required></div><br>
      
      <div id="typo">
        <label for="bkty" id="BookTy">Booking Type</label><br>
        <select name="bookType" id="bkty" required>
            <option value="" disabled selected>Select Booking Type</option>
            <option value="lunch">Lunch Menu</option>
            <option value="christmas">Christmas 2024</option>
            <option value="dinner">Dinner Menu</option>
            <option value="date">Date Night</option>
            <option value="meet">Business Meeting</option>
            <option value="Family Dinner">Family Dinner</option>
            <option value="Friends">Friends' Night Out</option>
            <option value="Proposal">Proposal Dinner</option>
            <option value="conference">Conference Dinner</option>
            <option value="reunion">Reunion</option>
            <option value="wedding">Wedding Reception</option>
            <option value="night-out">Couples' Night Out</option>
            <option value="client">Client Meeting</option>
            <option value="graduation">Graduation Menu</option>
        </select><br><br>
      </div>
      
      <div id="cate">
        <label for="pac" id="tegr">Table Location</label><br>
          <select name="location" id="pac" required>
            <option value="" disabled selected>Select Available Table Location</option>
            <%tables.forEach(table => {%>
            <option value="<%=table.table_location%>" style="text-transform: capitalize;"><%=table.table_name%>- capacity(<%=table.capacity%>)</option>
            <%})%>
        </select><br><br>
        </div>
      <div id="numb">
        <label for="num" id="numbr">No. of Guests</label><br>
        <input type ="number" name="guests" placeholder="Num. Of People" id="no" required min="1"><br>  
      </div>
      <div id="dat">
        <label for="date" id="date">Date</label><br>
        <input type="date" name="date" placeholder="" id="dt" required><br>  
      </div>
      <div id="tim">
        <label for="time" id="time">Time</label><br>
        <input type="time" name="time" placeholder="" id="tm" ><br>  
      </div>
      <div id="uti">
        <label for="time" id="utl">Until</label><br>
        <input type="time" name="until" placeholder="" id="ut"><br>  
      </div>
      <div id="uti">
        <label for="time" id="utl">Reference</label><br>
        <input type="text" name="reference" placeholder="customer payment reference..." id="ut"><br>  
      </div>
      <input type="submit" id="Submit">
        </form>
      </div>
    </div>

</body>
</html>